main {
  display: flex; 
  flex-direction: column;
  height: 90vh; 
  justify-content: center;
  align-items: center;

}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

.interval-container{
  display: flex;
  margin: 0 20px;
}

.interval-lenght-container{
  display: flex;
}